
html{
    margin: 0%;
}
.span{
    display: block;
}
.container{
    margin: 100px, auto ,100px;
    width:80%;
    text-align: center;
}
.span{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
#grey{
    background-color: gray;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#pink{
    background-color: pink;
}

